<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>


        .input-form {
            max-width: 680px;

            margin-top: 80px;
            padding: 32px;

            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }

        .field-error {
            border-color: #dc3545;
            color: #dc3545;
        }
    </style>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>

<div class="container">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">펀딩등록</h4>
            <form class="validation-form" novalidate th:action th:object="${fundingDto}" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="restaurantName">가게이름</label>
                    <input type="text" class="form-control" id="restaurantName" placeholder="restaurantName" th:field="*{restaurantName}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{restaurantName}" />
                </div>

                <div class="mb-3">
                    <label for="menu">메뉴</label>
                    <input type="text" class="form-control" id="menu" placeholder="menu" th:field="*{menu}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{menu}" />
                </div>

                <div class="mb-3">
                    <label for="information">가게정보</label>
                    <input type="text" class="form-control" id="information" placeholder="information" th:field="*{information}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{information}" />
                </div>

                <div class="mb-3">
                    <label for="introduction">가게소개</label>
                    <input type="text" class="form-control" id="introduction" placeholder="introduction" th:field="*{introduction}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{introduction}" />
                </div>

                <div class="mb-3">
                    <label for="notice">가게 공지사항</label>
                    <input type="text" class="form-control" id="notice" placeholder="notice" th:field="*{notice}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{notice}" />
                </div>

                <div class="mb-3">
                    <label for="discountPrice">할인가격</label>
                    <input type="text" class="form-control" id="discountPrice" placeholder="discountPrice" th:field="*{discountPrice}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{discountPrice}" />
                </div>

                <div class="mb-3">
                    <label for="price">가격</label>
                    <input type="text" class="form-control" id="price" placeholder="price" th:field="*{price}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{price}" />
                </div>

                <div class="mb-3">
                    <label for="minFundingCount">최소펀딩수</label>
                    <input type="text" class="form-control" id="minFundingCount" placeholder="minFundingCount" th:field="*{minFundingCount}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{minFundingCount}" />
                </div>

                <div class="mb-3">
                    <label for="maxFundingCount">최대펀딩수</label>
                    <input type="text" class="form-control" id="maxFundingCount" placeholder="maxFundingCount" th:field="*{maxFundingCount}" th:errorclass="field-error" required>
                    <div class="field-error" th:errors="*{maxFundingCount}" />
                </div>

                <div class="mb-3">
                    <label for="startDate">펀딩 시작 날짜</label>
                    <input type="datetime-local" class="form-control" id="startDate" placeholder="startDate" th:field="*{startDate}" th:errorclass="field-error" required>
                </div>

                <div class="mb-3">
                    <label for="endDate">펀딩 종료 날짜</label>
                    <input type="datetime-local" class="form-control" id="endDate" placeholder="endDate" th:field="*{endDate}" th:errorclass="field-error" required>

                </div>

                <div class="mb-3">
                    <label for="mainImage">메인 이미지</label>
                    <input type="file" class="form-control" id="mainImage" placeholder="mainImage" multiple="multiple" th:field="*{mainImage}" th:errorclass="field-error" required>
                </div>

                <div class="mb-3">
                    <label for="imageFiles">이미지</label>
                    <input type="file" class="form-control" id="imageFiles" placeholder="imageFiles" multiple="multiple" th:field="*{imageFiles}" th:errorclass="field-error" required>
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">펀딩 등록</button>
            </form>
        </div>
    </div>
</div>
<br>
<br>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
</body>

</body>
</html>