<!DOCTYPE html>
<html lang="en"  xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="fragments/header :: header" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
        .input-form {
            max-width: 680px;

            margin-top: 80px;
            padding: 32px;

            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="input-form-backgroud row">
        <div class="input-form col-md-12 mx-auto">
            <h4 class="mb-3">공지사항 등록</h4>
            <form th:action="@{/admin/board}" th:object="${boardDto}" method="post">
                <div class="mb-3">
                    <label for="title">제목</label>
                    <input type="text" class="form-control" id="title" placeholder="title" th:field="*{title}">
                </div>

                <div class="mb-3">
                    <label for="content">내용</label>
                    <input type="text" class="form-control" id="content" placeholder="content" th:field="*{content}">
                </div>

                <button class="btn btn-primary btn-lg btn-block" type="submit">공지사항 등록</button>
            </form>
        </div>
    </div>
</div>

<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
</body>
</html>