<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <head th:replace="fragments/header :: header" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>

        .input-form {
            max-width: 680px;

            margin-top: 80px;
            padding: 32px;

            background: #fff;
            -webkit-border-radius: 10px;
            -moz-border-radius: 10px;
            border-radius: 10px;
            -webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            -moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15);
            box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.15)
        }
    </style>
</head>

<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>
<div class="container">
    <div class="input-form-background row">
        <div class="input-form col-md-12 mx-auto">

            <h4 class="mb-3">내정보</h4>

            <div class="mb-3">
                <div th:text="|이름 : ${loginUser.name}|"></div>
            </div>

            <div class="mb-3">
                <div th:text="|아이디 : ${loginUser.loginId}|"></div>
            </div>

            <div class="mb-3">
                <div th:text="|이메일 : ${loginUser.email}|"></div>
            </div>

            <div class="mb-3">
                <div th:text="|캐쉬 : ${loginUser.money}|"></div>
            </div>

            <div class="mb-3">
                <div th:text="|멤버등급 : ${loginUser.roleType}|"></div>
            </div>
        </div>
    </div>
</div>
<br>
<br>
<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>

</body>

</html>