<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="header" th:fragment="bodyHeader">
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- Navigation-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container px-4 px-lg-5">
            <a class="navbar-brand" href="/">MoaMoa_Funding</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                    <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
                    <li class="nav-item"><a class="nav-link" id="admin_check" href="/admin">Admin</a></li>
                    <li class="nav-item"><a class="nav-link" href="/fundings">Restaurant</a></li>
                    <li class="nav-item"><a class="nav-link" href="/boards">FAQ</a></li>
                    <li class="nav-item"><a class="nav-link" href="/user">MyPage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Logout</a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- Header-->
    <header class="bg-dark py-5">
        <div class="container px-4 px-lg-5 my-5">
            <div class="text-center text-white">
                <h1 class="display-4 fw-bolder">MoaMoa Funding</h1>
                <p class="lead fw-normal text-white-50 mb-0">Choice with many Fundings</p>
            </div>
        </div>
    </header>

    <script th:inline="javascript">
        $('#admin_check').click(function (){
            $.ajax({
                type: "get",
                url: "/admin/check", //펀딩참가요청청

                success : function(res){ // 비동기통신의 성공일경우 success콜백으로 들어옵니다. 'res'는 응답받은 데이터이다.
                    if(res == "fail"){
                        var msg = "운영자만 사용할수 있는 페이지입니다."
                        alert(msg);
                        document.location.href="/"; //alert창 확인 후 이동할 url 설정
                    }else{
                        document.location.href="/admin"; //alert창 확인 후 이동할 url 설정
                    }

                },
                error : function(XMLHttpRequest, textStatus, errorThrown){ // 비동기 통신이 실패할경우 error 콜백으로 들어옵니다.
                    alert("통신 실패.")
                }
            });

        });
    </script>
</div>