<!DOCTYPE html>
<html lang="en">
<head>
    <head th:replace="fragments/header :: header" />
</head>
<body>
<div th:replace="fragments/bodyHeader :: bodyHeader"/>


<!-- Footer-->
<footer class="py-5 bg-dark">
    <div class="container"><p class="m-0 text-center text-white">Copyright &copy; Your Website 2022</p></div>
</footer>
</body>

<!-- Adding Styles-->
<style>
    li{
        font-size: 20px;
    }
    .navbar{
        min-height: 50px;
    }

    #wrapper{
        min-height: 100%;
        margin-bottom: -60px;
    }

</style>


</html>